Options -MultiViews
RewriteEngine On

# Si le fichier ou le dossier demandé existe physiquement, on le charge normalement
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Sinon, on redirige tout proprement vers l'index.php pour que le routeur gère la page
RewriteRule ^ index.php [L]
